
.footer{
    width: 100%;
    background-color: RGBA(151, 132, 63, 1.00) !important;
    padding-bottom: 31px;
    padding-top: 31px;

    .footer-content{
    	width: 90%;
    	display: flex;
    	margin: 0 auto;


    	.copy-right{
    		width: 30%;
    		color: RGBA(246, 234, 204, 1.00);
    	}

    	.footer-links{
    		width: 70%;
    		display: flex;
		    justify-content: space-between;

		    li{
		    	list-style-type: none;
		    	color: RGBA(246, 234, 204, 1.00);
		    	border-right: 2px solid;
		    	padding-right: 10px;
		    }

		     .no-border-right{
	    		border-right: unset;
	    	}
   	 	}
    }
}

//     .footer-links{
// 	    width: 100%;
// 	    display: flex;
// 	    justify-content: space-between;

// 	    li{
// 	    	width: 15%;
// 			float: left;
// 	    	
// 		    padding-right: 15px;
// 	    }

// 	    .no-border-right{
// 	    	border-right: unset;
// 	    }
//     }

//     p{
//     	color: RGBA(246, 234, 204, 1.00);
//     }
// }





@media screen and (max-width: 500px) {
    
    .footer{
        padding-top: 20px;
       .footer-content{
            width: 100%;

             .footer-links{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 0;

    
        li{
            color: RGBA(246, 234, 204, 1);
            border-right: 2px solid;
            padding-right: 10px;
            border-bottom: 3px solid;
            border-right: 0;
            padding-left: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
            .copy-right{
                display: none;
            }
        } 
    }
}




